In [1]:
import numpy as np
import pandas as pd

$k:=$ number of materials left \\
$t:=$ ticks (or time) left until completion \\

$$\newcommand\cmat{\boldsymbol{C}}$$

We wish to find the cost matrix, $\cmat$, that describes the expected cost of reaching completion from any point in state space. \\
Its elements, $\cmat_{ij}$ are the expected cost of traveling $(k_i,t_j) â†’ (k_{\geq3}, t_0)$. \\


We can initialize with known values (as shown below) and set `?` elements as 0.

$$
\begin{array}{c c} 
& \begin{array}{c c c c} t_0 & t_1 & t_2 & \ldots & t_n \\ \end{array} \\
\begin{array}{c c c c} k_0 \\ k_1 \\ k_2 \\ k_3 \\ k_4 \\ \vdots \\ k_m \end{array} &
\left[
\begin{array}{c c c}
0 & ? & ? & \ldots & ? \\
0 & ? & ? & \ldots & ? \\
0 & ? & ? & \ldots & ? \\
0 & 3 & ? & \ldots & ? \\
0 & 4 & ? & \ldots & ? \\
\vdots & \vdots& \vdots & \ddots & ? \\
0 & m & ? & ? & ?
\end{array}
\right]
\end{array}
$$

Then solve unknown values by propagating the expected cost formula (shown below) until convergence.

For $k\geq3:$
$$
\begin{equation}
  C(k,t) = \frac{2}{3}C(k,t-1) + \frac{1}{3}(1 + C(k-1,t-1))
\end{equation}
$$

\\

For $k < 3$ we rely on Strategy matrix A: \\

\\
$$
\begin{equation}
  C(k,t) = A[\text{argmax}_{i}, t + 2\cdot\text{strat}] + \text{strat}
\end{equation}
$$

In [2]:
def init_cost_mat(shape):
    C = np.zeros(shape)
    m,n = shape
    
    C[:,0] = 0 # We're done, no cost!
    for i in range(1,n-2):
        C[i+2:,i] = np.arange(i+2,n) # These costs are fixed
    C[0:2,1:] = 999 # Unable to reach these states
    return C

In [3]:
def init_strat_mat(shape):
    A = np.zeros(shape)
    m,n = shape

    A[:,0] = 999 # Not able to access the elements where progress is zero (column1)
    A[0,:] = 999 # Not able to access the elements where materials to add is 0
    A[9:11,:] = 999 # Not able to accress the elements where materials to add is 9 or 10
    A[:,10] = 999 # Not able to have current progress == 10 and current materials == 2
    return A

In [4]:
def update_C(C,A,index):
    k,t = index
    
    if t == 0: # We're done!
        pass
    elif [k,t] in np.transpose(np.nonzero(C)).tolist(): # Deterministic cost, we're done!
        pass
    elif k in (0,1): # Unable to reach these states
        pass
    elif k == 2: # We go to matrix A when decision needs to be made (k==2) (might need change, not sure if +np.argmin(A[:,t])is needed)
        C[k,t] = np.amin(A[:,t]) 
    elif k >= 3: # No need to make decision, cost will use expected cost formula
        C[k,t] = (2/3)*C[k,t-1] + (1/3)*(C[k-1,t-1] + 1) # Expected cost formula
    else:
        print('Something went wrong when updating C, at least one condition should have been met')
    return C

In [5]:
def update_A(C, A, index):
    k,t = index
    
    if t == 0: # We're done!
        pass
    elif t == 10: # Unable to reach this state
        pass
    elif k in (0,9,10): # Unable to make these decisions
        pass
    elif k >= 1: # Allowed decision states
        A[k,t]= C[k+2, min(t + (2*k),10)] + k # Expected cost of the decision's landing state + cost of making this decision
    else:
        print('Something went wrong when updating A, at least one condition should have been met')
    return A

In [6]:
def step(C,A):
    max_k, max_t = C.shape
    
    for (k,t), val in np.ndenumerate(C):
        C=update_C(C,A,(k,t))
        A=update_A(C,A,(k,t))
    return C,A

In [20]:
def iterate(C, A, min_iters, threshold):
    sse = np.inf # Placeholder init value for sum of squared error
    num_iters = 0
    while sse > threshold or num_iters < min_iters:
        num_iters += 1
        old_C = C.copy()
        old_A = A.copy()
        C, A = step(C, A)
        sse_C = ((C - old_C)**2).sum(axis = None) # Sum of squared error of matrix C
        sse_A = ((A - old_A)**2).sum(axis = None) # Sum of squared error of matrix A
        sse = sse_C + sse_A
    return (num_iters, C, A)

In [21]:
def display(M):
    # Helper function for displaying the cost/strategy matrix
    m, n = M.shape
    df = pd.DataFrame(M, 
                  columns=[f"t{i}" for i in range(m)],
                  index=[f"k{i}" for i in range(n)])
    style = df.style \
            .highlight_min(color='green', axis=0) \
            .format(precision=2)
    return style

In [25]:
shape=(11,11)
C = init_cost_mat(shape)
A= init_strat_mat(shape)

In [26]:
C

array([[  0., 999., 999., 999., 999., 999., 999., 999., 999., 999., 999.],
       [  0., 999., 999., 999., 999., 999., 999., 999., 999., 999., 999.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   3.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   4.,   4.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   5.,   5.,   5.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   6.,   6.,   6.,   6.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   7.,   7.,   7.,   7.,   7.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   8.,   8.,   8.,   8.,   8.,   8.,   0.,   0.,   0.,   0.],
       [  0.,   9.,   9.,   9.,   9.,   9.,   9.,   9.,   0.,   0.,   0.],
       [  0.,  10.,  10.,  10.,  10.,  10.,  10.,  10.,  10.,   0.,   0.]])

In [27]:
A

array([[999., 999., 999., 999., 999., 999., 999., 999., 999., 999., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 999.],
       [999., 999., 999., 999., 999., 999., 999., 999., 999., 999., 999.],
       [999., 999., 999., 999., 999., 999., 999., 999., 999., 999., 999.]])

In [30]:
num_iters, C, A = iterate(C, A, 1000, 0.000005)
print(f"This iterated {num_iters} times.")
display(C)

This iterated 1000 times.

In [31]:
print(f"This iterated {num_iters} times.")
display(A)

This iterated 1000 times.

In the $(3, 3, 1, \dots, 1)$ strategy it appears that the optimal initial material amount is $k=7$.

In [ ]:
C = init_cost_mat((11,11))
# This is a strategy where the first two refills are of size 3, then size 1 indefinitely afterwards
strat = create_strategy(initial=[], default=3)

In [ ]:
C = step(C, strat)
display(C)